Booknow.jsx
Error.jsx
SingleRoom.jsx

context.js
data.js
index.css
index.js

Banner.jsx
Hero.jsx
RoomsContainer.jsx
RoomsList.jsx
StyledHero.jsx
Title.jsx

node_modules
build

# Local Netlify folder
.netlify